.card {
    border-radius: 0;
    border: none;
}

.card-header {
    background-color: #C1C8CE;
    border-top: 2px solid #2F2A31;
    border-bottom: 2px solid #2F2A31;
    padding: 10px 10px;
}

.header-title {
    font-family: 'Gotham-Black';
    font-size: 0.6em;
}

    .header-title:after {
        float: right;
        content: '-';
        background-color: #DB8E18;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        line-height: 24px;
        font-size: 24px;
        color: #FFF;
        text-align: center;
    }

    .header-title.collapsed:after {
        float: right;
        content: '+';
    }
