.title {
    font-family: 'Gotham-Black';
    font-size: 2em;
}

.sub-title {
    font-family: 'Gotham-Black';
    font-size: 1.2em;
}

.description {
    font-family: 'Gotham-Book';
    font-size: .9em;
}

.search-icon {
    display: block;
    max-width: 100%;
    height: auto;
    margin: -1.7rem 17% 0 17%;
    position: absolute;
}

.search-type .btn {
    color: #C1C8CE;
}

.search-type .col-6:first-child {
    border-right: 2px solid #DB8E18;
}

.search-type .current .btn {
    color: #475459;
}

.search-type .current span {
    position: relative;
    border: 1px solid transparent;
    z-index: 1;
}

    .search-type .current span:after, .search-type .current span:before {
        bottom: -15%;
        left: 50%;
        border-style: solid;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .search-type .current span:before {
        border-color: rgba(71, 84, 89, 0);
        border-bottom-color: #475459;
        border-width: 14px;
        margin-left: -14px;
    }

    .search-type .current span:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #FFFFFF;
        margin-top: 1px;
        border-width: 12px;
        margin-left: -12px;
    }

.application-search, .code-search {
    border-top: 1px solid #475459;
    display: none;
}

    .application-search.current, .code-search.current {
        display: flex;
    }

.custom-select {
    font-family: 'Gotham-Book';
    font-size: .9em;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .2rem center/8px 10px;
    border-radius: 0;
    height: auto;
}

.code-search .form-control {
    border-radius: 0;
}

.code-search .form-control, .code-search .col-form-label {
    font-family: 'Gotham-Book';
    font-size: .9em;
}
