.title {
    font-family: 'Gotham-Black';
}

    .title h1 {
        font-size: 1.9em;
        display: inline;
    }

        .title h1.old-code {
            font-family: 'Gotham-Book';
        }

.row.title {
    border-bottom: solid 1px #475459;
}

.product span {
    font-family: 'Gotham-Black';
    font-size: .9em;
    font-weight: 800;
}

.product h2 {
    font-family: 'Gotham-Book';
    font-size: 2.3em;
    font-weight: 400;
    display: inline;
}

.product-code {
    border-right: 2px solid #DB8E18;
}

@media (max-width: 767px) {
    .product-code {
        border: none;
    }
}

.nav.nav-tabs {
    border-bottom: 3px solid #2F2A31;
}

    .nav.nav-tabs .nav-item a {
        font-family: 'Gotham-Black';
        font-size: .9em;
    }

        .nav.nav-tabs .nav-item a:hover {
            color: #475459;
        }

        .nav.nav-tabs .nav-item a.active {
            color: #DB8E18;
            background-color: #2F2A31;
        }

thead th, tbody td, .details {
    font-family: 'Gotham-Book';
    font-size: .9em;
}

.table thead th {
    border-top: 0;
    border-bottom: 0;
}

.details .row {
    border-bottom: 1px solid #475459;
}
